<h1>Agendamento</h1>
{{#if error}} <span>{{error}}</span>{{/if}}
<form method="POST" action="/api/agendamento/">
  <div class="form-group">
      <label for="exampleSelect1">Escolha a Cidade</label>
      <select class="form-control" id="selectCidade">
        <option>Porto</option>
        <option>Braga</option>
        <option>Guimaraes</option>
        <option>Lisboa</option>
      </select>
  </div>
  <div id="calendar"></div>
  <div class="form-group">
    <label>Horario de Inicio</label>
    <input type="text" name="horarioInicio" class="form-control" placeholder="Horario de Inicio da Consulta">
  </div>
  <div class="form-group">
    <label>Horario de Termino</label>
    <input type="text" name="horarioTermino" class="form-control" placeholder="Horario de Termino da Consulta">
  </div>
  <div class="form-group">
    <label>Dia</label>
    <input type="text" name="dia" class="form-control" placeholder="Dia pretendido">
  </div>
  <div class="form-group">
    <label>Nome Completo</label>
    <input type="text" name="nome" class="form-control" placeholder="Preencher com o seu nome">
  </div>
  <div class="form-group">
    <label>Email</label>
    <input type="text" name="email" class="form-control" placeholder="Preencher com o seu Email">
  </div>
  <div class="form-group">
    <label>Medico</label>
    <input type="text" name="medico" class="form-control" placeholder="Preencher com o seu Médico">
  </div>
  <input type="submit" class="btn btn-primary" value="Salvar">
</form>