<h1>Check-in do Utente</h1>
{{#if error}} <span>{{error}}</span>{{/if}}
<form method="POST" action="/checkin/">
  <div class="form-group">
    <label>ID Agendamento</label>
    <input type="text" name="idgendamento" class="form-control" placeholder="Nome">
  </div>
  <div class="form-group">
    <label>Nome</label>
    <input type="text" name="name" class="form-control" placeholder="Preencher com o Nome do Utente">
  </div>
  <div class="form-group">
    <label>Utente</label>
    <input type="text" name="utente" class="form-control" placeholder="Preencher com o Número de Utente SNS">
  </div>
  <div class="form-group">
    <label>Valor</label>
    <input type="text" name="valor" class="form-control" placeholder="Valor da Consulta ao Final">
  </div>
  <input type="submit" class="btn btn-primary" value="Salvar">
</form>
