<h1>Pagamento</h1>
{{#if error}} <span>{{error}}</span>{{/if}}
<form method="POST" action="/api/pagamento/">
  <div class="form-group">
    <label>Nome Completo</label>
    <input type="text" name="nome" class="form-control" placeholder="Preencher com o seu nome">
  </div>
  <div class="form-group">
    <label>NIF</label>
    <input type="text" name="email" class="form-control" placeholder="Preencher com o seu Email">
  </div>
  <div class="form-group">
    <label>Valor a ser Pago</label>
    <input type="text" name="medico" class="form-control" placeholder="Preencher com o valor pago">
  </div>
  <input type="submit" class="btn btn-primary" value="Salvar">
</form>
