<!DOCTYPE html>
<html>
  
  <body>
    <nav class="navbar navbar-default">
      <div class="container">
		
        <div class="navbar-header">
		<a class="navbar-brand" href="/">BRAGA</a>
		</div>
		
		<div>
		<ul class="nav nav-tabs">
			  
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="/braga/agendamento/">Agendar</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="/braga/realizar/">Realizar</a>
			</li>
			<li class="nav-item">
				<a class="nav-link" data-toggle="tab" href="/braga/pagamento/">Pagamento</a>
			</li>
			  
		</ul>
		</div>
		
      </div>
    </nav>
	<div class="container">
      {{{body}}}
    </div>
  </body>
  
</html>
